.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 320px;
  background: #111827; /* azul oscuro elegante */
  color: white;
  padding: 3rem 2rem;
  position: sticky;
  top: 0;
  height: 100vh;
}

/* CONTENIDO PRINCIPAL */
.content {
  flex: 1;
  background: #f9fafb;
  padding: 4rem;
}

/* SECCIONES */
section {
  margin-bottom: 3rem;
}

section h2 {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: #111827;
}

